// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #333333; // For Headings
$hero-text-color: #474747; // For Hero Section

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// Color Palette
// #1f3944
// #5a979e
// #fefdf6
// #c0d7d5

// Possible colors
// #dcdce6 #b4b4be #8c8c96 #64646e #a0a4a8 #474747, #333333
