@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

html {
    scroll-padding-top: 3rem;
}

.carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
    color: #fefdf6;
}

.other-project-title {
    font-size: 2vw;
    font-weight: 700;
}

.learn-more-button {
    font-size: 1.5vw;
    position: relative;
    z-index: 2;
    /* Ensures the button is above other elements */
    background-color: #03bdad;
    border-color: #03bdad;
    color: #fefdf6;
}

.learn-more-button:hover,
.learn-more-button:focus {
    background-color: #029d8a;
    border-color: #029d8a;
    color: #fefdf6;
}

.send-message-button {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 10px;
    background-color: #00796b;
    border-color: #00695c;
    color: #fefdf6;
}

.send-message-button:hover {
    background-color: #009688;
    border-color: #00897b;
}

#email-and-message-div {
    max-width: 50%;
    margin: auto;
    padding-bottom: 0.8rem;
    padding-top: 2.5rem;
}

#email-div {
    padding-bottom: 1rem;
}

#message-field,
#email-field {
    font-size: 1.5rem;
    background-color: #fefdf6;
    color: #333333;
}

@media (min-width: 1201px) {
    #knowMoreBtn {
        margin-top: 22vh;
    }

    .learn-more-button {
        margin-bottom: 2rem;
    }

    #projectsCarousel {
        margin-top: 1vw;
    }

    #projectsCarousel .carousel-caption h5 {
        font-size: 4rem;
    }

    #projectsCarousel .carousel-caption p {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    #projectsCarousel .learn-more-button {
        font-size: 3rem;
        font-weight: 600;
        padding: 5px 10px;
    }

    #projectsCarousel .carousel-caption {
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    #knowMoreBtn {
        margin-top: 35vh;
    }

    #email-and-message-div {
        max-width: 70%;
    }

    #projectsCarousel {
        margin-top: -2.5vw;
    }

    #projectsCarousel .carousel-caption h5 {
        font-size: 3vw;
    }

    #projectsCarousel .carousel-caption p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #projectsCarousel .learn-more-button {
        font-size: 2vw;
        padding: 5px 10px;
        font-weight: 600;
    }

    #projectsCarousel .carousel-caption {
        padding-bottom: 5.5vw;
        padding-left: 9vw;
        padding-right: 9vw;
    }
}

@media (max-width: 600px) {
    #knowMoreBtn {
        margin-top: 35vh;
    }

    #email-and-message-div {
        max-width: 90%;
    }

    #message-field,
    #email-field {
        font-size: 16px;
    }

    .learn-more-button {
        font-size: 4vw;
        margin-bottom: 6vw;
    }

    #projectsCarousel {
        margin-top: -3vw;
    }

    #projectsCarousel .carousel-caption h5 {
        font-size: 4vw;
    }

    #projectsCarousel .carousel-caption p {
        font-size: 3vw;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    #projectsCarousel .learn-more-button {
        font-size: 3vw;
        font-weight: 600;
        padding: 3px 7px;
    }

    #projectsCarousel .carousel-caption {
        padding-bottom: 20px;
        padding-left: 12vw;
        padding-right: 11vw;
    }
}
